*{
  margin: 0;
  padding: 0;
  list-style: none;
  border: 0;
}
body {
  background-image: url("../../assets/world-background.webp");
  background-position: 50% 0%;
  background-size: contain;
  background-repeat: no-repeat;
}
